body {
    left: 30px;
    top: -10px;
    font-family: sans-serif;
    background-color: #292929;
    color: white;
    position: absolute;
}

h4 {
    margin-top: -15px;
}

dt {
    margin-top: 20px;
}

dd::before {
    content: ">";
    margin-right: 5px;
}

/* Links */

a:link {
	color: rgb(87, 177, 154);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: rgb(104, 133, 125);
}