.MainBody {
	top: 40px;
}

.MainBody img {
    margin: 15px;
    width: 300px;
    border-radius: 10px;
    float: right;
}

#ContentsHead {
	margin: 0px;
	height: 30px;
	padding: 20px;
	border-radius: 20px;
	width: calc(100% - 40px);
	left: 0px;
	top: -30px;
	position: absolute;
	background: var(--paper-background);
}

.Contents {
	padding: 20px;
	width: 90%;
	font-size: 19px;
	border-radius: 20px;
    margin: auto;
	position: relative;
	color: var(--Btext);
	background-color: var(--background);
}

.Contents hr, .QuickPara hr {
	width: 90%;
	border: 0; 
	height: 2px; 
	background-color: #949494;
}

/* Text CSS */

#ParaHead {
	margin: 25px 0px 0px 0px;
	height: 30px;
	padding: 20px;
	line-height: 40px;
	border-radius: 20px;
	width: calc(100% - 40px);
	left: 0px;
	top: 20px;
	z-index: 1;
	position: relative;
	background: var(--paper-background);
}

.QuickPara {
    width: 90%;
	color: var(--Btext);
    margin: auto;
    position: relative;
}

.QuickPara div {
	padding: 20px 18px 10px 18px;
	border-radius: 0px 0px 20px 20px;
	font-size: 20px;
	line-height: 32px;
	overflow: hidden;
	position: relative;
	background-color: var(--background);
}

.QuickPara h4, .QuickPara dl {
	margin-left: 30px;
	margin-bottom: -5px;
}

iframe {
	margin-top: 10px;
	width: 80%;
	height: 460px;
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Misc {
    margin-top: 70px;
	border-radius: 30px 30px 0px 0px;
}

/* Table CSS */

dt, dd {
	position: relative;
}

.Contents dd {
	margin-left: 55px;
}

.Contents dt {
	margin-left: 30px;
	margin-top: 30px;
}

.Contents dt::before, .Contents dd::before{
    font-size: 40px;
    top: -17px;
    left: -15px;
    content: "›";
    position: absolute;
}