:root {
	--font: "Outfit", sans-serif;
	--bordersrad: 8px;
	--shadow: 0px 0px 5px 0px #292929;
	--background: #c9c9c9;
	--Wbackground: white;
	--paper-background: repeating-linear-gradient(white 0px, white 25px, steelblue 26px);

	--tape-gray: #dbd8be;
	--tape-edge-gray: #b7b49d;

	--text: #4b4b4b;
	--Btext: #2c2c2c;
	--Wtext: #ffffff;
}

body {
	margin: 0px;
	font-family: var(--font);
	background-color: #292929;
	resize: none;
	overflow-x: hidden;
}

/* Links */

a:link {
	color: rgb(12, 148, 114);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: rgb(12, 148, 114);
}

.Warning a:link {
	color: rgb(202, 202, 202);
}

.Warning a:visited {
	color: rgb(202, 202, 202);
}

mark {
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 3px;
	background-color: rgb(35, 216, 171);
}

/* Warning */

.WarningBlur {
	backdrop-filter: blur(8px);
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	z-index: 10;
	position: fixed;
}

.WarningText {
	line-height: 200%;
	z-index: 11;
	top: 50%;
	padding: 15px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--Wtext);
	border-radius: var(--bordersrad);
	background-color: #9e1919;
	box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.6);
	max-width: 100vw;
	width: 800px;
	max-height: 100vh;
	display: block;
	position: fixed;
}

.WarningTitle, .WarningBody div {
	padding: 1px 40px 5px 15px;
	margin-bottom: 15px;
	border-radius: var(--bordersrad);
	background-color: #df3d3d;
}

.WarningBody {
	padding: 15px 15px 0.1px;
	border-radius: var(--bordersrad);
	background-color: #0006;
	max-height: calc(100vh - 141px);
	overflow: auto;
}

.Warning h2 {
	padding: 12px 25px 12px 25px;
	z-index: 12;
	margin: 0;
	width: 100px;
	bottom: 40px;
	right: 40px;
	position: absolute;
	color: #df3d3d;
	user-select: none;
	text-align: center;
	border-radius: var(--bordersrad);
	background-color: var(--Wtext);
	transition: transform .2s;
}

.Warning h2:hover {
	transform: scale(1.05);
}

.WarningText h1 {
	text-align: center;
}

.WarningText p {
	font-size: 20px;
}

/* WarningText Media */
@media screen and (max-height: 800px) {
	.WarningText p {
		font-size: 17px;
		line-height: 160%;
	}
}

/* Header Styles */

.Header {
	height: fit-content;
	width: 100%;
	padding-bottom: 30px;
	background-color: var(--background);
}
	
.HeaderPos {
	top: 30px;
	position: relative;
	display: flex;
}

/* The Entire Nav Bar */
.HeaderNav {
	justify-content: center;
	align-items: center;
	display: flex;
}

/* The float for the site logo */
.HeaderLeft {
	margin-left: 30px;
	margin-top: 5px;
	z-index: 1;
	position: absolute;
}

/* All the NavBar content on the right */
.HeaderRight {
	width: 100%;
	position: relative;
	text-align: center;
}

/* The Guide Text */
#HeaderNavL {
	width: 600px;
	height: 80px;
	padding: 10px;
	display: grid;
	text-align: center;
	align-items: center;
	color: var(--text);
	box-shadow: var(--shadow);
	border-radius: var(--bordersrad);
	background-color: var(--Wbackground);
}

/* The Social Media Column */
#HeaderNavR {
	height: 80px;
	padding: 10px;
	margin-left: 20px;
	display: flex;
	align-items: center;
	box-shadow: var(--shadow);
	border-radius: var(--bordersrad);
	background-color: var(--Wbackground);
}

#HeaderTitle {
	width: 55%;
	word-spacing: 10px;
	padding: 20px 10px;
	line-height: 40px;
	text-align: center;
	position: relative;
	margin: auto;
	user-select: none;
	cursor: pointer;
	color: var(--text);
	box-shadow: var(--shadow);
	border-radius: var(--bordersrad);
	background: var(--paper-background);
	transition: transform .2s;
}

#HeaderTitle:hover {
	transform: scale(1.05);
}

.NavIcon {
	width: 65px;
	height: 60px;
	padding: 4px;
	margin: 18px;
	transition: transform .2s;
	filter: invert(38%);
	cursor: pointer;
}

.NavIcon:hover {
	transform: scale(1.08);
}

#NavLogo {
	width: 150px;
	padding: 22px 15px 10px 15px;
	box-shadow: var(--shadow);
	border-radius: var(--bordersrad);
	background: var(--paper-background);
	transition: transform .2s;
	cursor: pointer;
}

#NavLogo:hover {
	transform: scale(1.05);
}

/* Header Body Media */

@media screen and (max-width: 1570px) {
	.Header {
		padding-bottom: 60px;
	}
	.HeaderNav {
		width: 90%;
		display: block;
		margin: auto;
	}
	.HeaderLeft {
		display: none;
	}
	#HeaderNavL {
		height: fit-content;
		width: 100%;
		position: relative;
		justify-content: center;
		box-sizing: border-box;
	}
	#HeaderNavR {
		margin-left: 0px;
		width: 100%;
		position: relative;
		justify-content: center;
		box-sizing: border-box;
	}
	#NavLogo {
		display: none;
	}
	.NavIcon {
		margin: 9px;
	}
}

@media screen and (max-width: 500px) {
	.HeaderNav, .HeaderRight {
		width: 100%;
	}
	#HeaderTitle {
		right: auto;
	}
	.HeaderNav {
		left: auto;
		padding: 0;
	}
	#HeaderNavL, #HeaderNavR {
		height: fit-content;
		width: 100%;
		border-radius: 0;
		position: relative;
		box-shadow: none;
	}
	#HeaderNavL {
		border-top: 2px solid rgb(185, 185, 185);
		margin-bottom: 0;
	}
	#HeaderNavR {
		margin-top: -1px;
		border-bottom: 2px solid rgb(185, 185, 185);
	}
}

/* Top Body Styles */

.MainBody {
	width: 1120px;
	margin: 30px auto 0;
	position: relative;
}

.TopCards {
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	display: grid;
}

.BottomCards {
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	display: grid;
}

.BottomCards div {
	outline: 3px solid white;
}

.Card {
	height: 270px;
	width: 360px;
	transition: transform .2s;
	color: var(--Wtext);
	padding: 5px 140px 20px 5px;
	border-radius: var(--bordersrad);
	user-select: none;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	justify-self: center;
}

.Card:hover {
	transform: scale(1.05);
}

.Card h2 {
	margin-top: 10px;
	line-height: 23px;
}

.Supplies:hover {
	transform: translateX(-50%) scale(1.05);
}

.CardVial, .CardVialB {
	width: 120px;
	height: 100%;
	top: 0;
	right: 0;
	padding: 10px;
	box-sizing: border-box;
	position: absolute;
	border-radius: var(--bordersrad);
	background: var(--paper-background);
}

.CardVialB {
	border-radius: var(--bordersrad) 0px 0px var(--bordersrad);
}

hr {
	border-radius: 5px;
	width: 95%;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 2px solid;
	color: white;
}

/* Top Body Media */

@media screen and (max-width: 1160px) {
	.MainBody {
		width: 740px;
	}
	.TopCards {
		grid-template-columns: 1fr 1fr;
	}
	.BottomCards {
		grid-template-columns: 1fr 1fr;
	}
	.End {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}

@media screen and (max-width: 800px) {
	.MainBody {
		width: 360px;
	}
	.TopCards {
		grid-template-columns: 1fr;
	}
	.BottomCards {
		grid-template-columns: 1fr;
	}
	.End {
		grid-column-start: 1;
		grid-column-end: 2;
	}
}

/* Bottom Body Styles */

.SecondBody {
	width: 95%;
	min-width: 400px;
	height: fit-content;
	padding: 5px 5px 80px 5px;
	border-radius: 40px 40px 0px 0px;
	box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
	margin: 50px auto 0;
	position: relative;
	background-color: var(--background);
}

#MiscHeader {
	text-align: center;
	color: var(--Btext);
}

.MisCard, .FaqCard {
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	display: grid;
	position: relative;
	justify-content: center;
	margin: 0 auto;
}

.FaqCard, .SecondBody h1:nth-child(3) {
	top: 30px;
	position: relative;
}

.MisCard > div:nth-child(-n+8), .FaqCard > div:nth-child(-n+4) {
	max-width: 280px;
	min-width: 250px;
	height: 160px;
	padding: 13px;
	border-radius: 20px;
	line-height: 23px;
	box-shadow: 0 0 10px 1px #a0a0a0;
	overflow: hidden;
	color: #1d1d1d;
	background-color: #dddddd;
	font-family: "Itim", serif;
	user-select: none;
	justify-self: center;
	position: relative;
}

.CardBG {
	height: 128px;
	width: 128px;
	bottom: 110px;
	left: 180px;
	border-radius: 0% 0% 0% 50%;
	z-index: 1;
	background-color: #33b2c9;
	position: absolute;
	transition: all .6s ease;
}

.MisCard h2, .MisCard p, .FaqCard h2, .FaqCard p {
	position: relative;
	z-index: 2;
}

.MisCard div:hover p, .MisCard div:hover h2, .FaqCard div:hover p, .FaqCard div:hover h2 {
	color: #ffffff;
	transition: color .45s ease;
}

.MisCard div:hover .CardBG, .FaqCard div:hover .CardBG {
	transform: scale(10);
}

/* Bottom Body Media */

@media screen and (max-width: 1250px) {
	.MisCard, .FaqCard {
		width: calc(80% - 40px);
		min-width: 520px;
		grid-template-columns: 1fr 1fr;
	}

	.MisCard > div:nth-child(-n+8), .FaqCard > div:nth-child(-n+4) {
		max-width: 350px;
		min-width: 300px;
		height: 200px;
		font-size: 18px;
		line-height: 26px;
	}

	.MisCard div, .FaqCard div {
		width: 100%;
		max-width: 250px;
		height: 150px;
		line-height: 20px;
		box-sizing: border-box;
	}

	.CardBG {
		left: 230px;
		bottom: 130px;
		border-radius: 0% 0% 0% 35%;
	}
}

@media screen and (max-width: 680px) {
	.MisCard, .FaqCard {
		min-width: 0;
		grid-template-columns: 1fr;
	}

	.MisCard > div:nth-child(-n+8), .FaqCard > div:nth-child(-n+4) {
		max-width: 500px;
		min-width: 370px;
		height: 250px;
	}

	.CardBG {
		left: 260px;
		bottom: 170px;
	}
}

/* Pointer Select */

.TopCards div, .BottomCards div, .MisCard div, .FaqCard div {
	cursor: pointer;
}

/* Card Colors */

.TopCards .Card:nth-child(1) {
	background-color: rgb(27, 76, 202);
}

.TopCards .Card:nth-child(2) {
	background-color: rgb(212, 30, 152);
}

.TopCards .Card:nth-child(3){
	background-color: rgb(16, 182, 124);
}

.BottomCards .Card:nth-child(1) {
	background-color: rgb(35, 67, 148);
}

.BottomCards .Card:nth-child(2) {
	background-color: rgb(156, 42, 118);
}

.BottomCards .Card:nth-child(3) {
	background-color: rgb(24, 150, 91);
}

/* Bottom Card Colors */
.MisCard div:nth-child(5) .CardBG {
	background-color: #ee8f14;
}
.MisCard div:nth-child(n+6) .CardBG {
	background-color: #4b4b4b;
}

.FaqCard div:nth-child(1) .CardBG {
	background-color: #33b2c9;
}
.FaqCard div:nth-child(2) .CardBG {
	background-color: rgb(27, 76, 202);
}
.FaqCard div:nth-child(3) .CardBG {
	background-color: rgb(212, 30, 152);
}
.FaqCard div:nth-child(4) .CardBG {
	background-color: rgb(16, 182, 124);
}

/* Tape Styles */

.Tape {
	height: 30px;
	top: -15px;
	width: 180px;
	z-index: 1;
	opacity: 0.5;
	left: calc(50% - 180px/2);
	position: absolute;
	background-color: var(--tape-gray);
	border-right: 1px dotted var(--tape-edge-gray);
	border-left: 1px dotted var(--tape-edge-gray);
}

.T1 {
	width: 160px;
	left: 10px;
}

/* Tape Media */
@media screen and (max-width: 1400px) {
	.T1 {
		display: none;
	}
}

/* Scroll Styles */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #979797;
}
