:root {
	--font: "Outfit", sans-serif;
}

body {
	margin: 0px;
	font-family: var(--font);
	background-color: #ffffff;
	resize: none;
	overflow-x: hidden;
	padding: 20px;
}

/* Links */

a:link {
	color: rgb(12, 148, 114);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: rgb(12, 148, 114);
}