#CryptoCard {
    width: 50%;
    background: linear-gradient(180deg, rgba(247, 148, 26, 1.0) 50%, rgba(188, 105, 5, 1.0));
    padding: 0px 20px 90px 0px;
    border-radius: 21px;
    margin-left: 0px;
    display: grid;
    user-select: none;
    transition: transform 0.1s;
}

#CryptoCard:hover {
    transform: scale(1.05);
}

#CryptoCard div {
    margin: 0;
    width: calc(100% - 10px);
    padding: 0px 20px 10px 10px;
    border-radius: 20px;
    color: var(--Btext);
    background: white;
}

#CryptoCard img {
    width: 75px;
    float: right;
}

@media screen and (max-width: 650px) {
	#CryptoCard img {
        display: none;
	}
}
