ol {
    padding-left: 40px;
    line-height: 25px;
    list-style-type: none;
}

ol li {
	display: list-item;
}

ol li::before {
    margin-right: 10px;
    content: "[" counter(list-item) "]";
    font-weight: bold;
}

dt, dd {
	position: relative;
}

/* Main Body */

.MainBody {
	width: 87%;
	top: 80px;
}

#ContentsHead {
	margin: 0px;
	height: 30px;
	padding: 20px;
	border-radius: 20px;
	width: calc(100% - 40px);
	left: 0px;
	top: -30px;
	position: absolute;
	background: var(--paper-background);
}

.Contents {
	padding: 20px;
	width: 80%;
	font-size: 19px;
	border-radius: 20px;
	margin: auto;
	position: relative;
	color: var(--Btext);
	background-color: var(--background);
}

.Contents dd {
	margin-left: 55px;
}

.Contents dt {
	margin-left: 30px;
	margin-top: 30px;
}


.Contents dt::before, .Contents dd::before{
    font-size: 40px;
    top: -17px;
    left: -15px;
    content: "›";
    position: absolute;
}

.Contents dd::before {
    font-size: 30px;
    top: -9px;
}

.Contents hr, .CollText hr {
	width: 90%;
	border: 0; 
	height: 2px; 
	background-color: #949494;
}

hr {
	width: 83%;
	margin-top: 30px;
	margin-bottom: 30px;
}

#Decal {
	width: 40%;
	right: 15px;
	top: 45px;
	opacity: 0.7;
	position: absolute;
}

#Decalmtf {
	width: 40%;
	right: 5%;
	top: 15%;
	opacity: 0.7;
	position: absolute;
	clip: rect(0px,auto,600px,0px);
}

#Decalftm {
	width: 35%;
	right: 0%;
	top: 15%;
	opacity: 0.7;
	position: absolute;
	clip: rect(0px,auto,335px,0px);
}

/* Main Body Media */
@media screen and (max-width: 1570px) {
	.MainBody {
		top: 60px;
		display: table;
	}
}

@media screen and (max-width: 550px) {
	#Decal {
		display: none;
	}
}

/* Collapsible Styles */
.CollBody {
	width: 83%;
	margin: auto;
}

.Collapsible {
	padding: 18px;
	width: 100%;
	font-size: 30px;
	border-radius: 20px;
	margin-top: 30px;
	z-index: 2;
	position: relative;
	font-weight: bold;
	cursor: pointer;
	border: none;
	outline: none;
	text-align: left;
	color: var(--Btext);
	background: var(--paper-background);
}

.Collapsible:before {
	content: '>';
	font-size: 30px;
	color: rgb(0, 0, 0);
	margin-left: 20px;
	right: 10px;
	float: left;
	position: relative;
	transition: transform 0.15s;
}

.Active:before {
	transform: rotate(180deg);
}

.CollText {
	padding: 20px 18px 10px 18px;
	border-radius: 0px 0px 20px 20px;
	top: -20px;
	font-size: 20px;
	line-height: 32px;
	display: none;
	overflow: hidden;
	position: relative;
	background-color: var(--background);
}

.CollText div {
	margin-left: 30px;
}

.CollText iframe {
	margin-top: 10px;
	width: 80%;
	height: 460px;
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.CollText img {
	margin-top: 10px;
	border-radius: 5px;
}

.CollText ul {
	list-style-type: none;
	padding-left: 0;
}

.CollText li {
	margin-top: 0;
	line-height: 28px;
	font-size: 20px;
}

.CollText li::before {
	content: ">";
	color: black;
	margin-right: 5px;
}

#Teens {
	margin: 30px;
	float: right;
}

#EffectsMTF {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#Effects {
	width: 45%;
	height: 45%;
	float: right;
	background: var(--paper-background);
}

/* CollImg Body */
.CollIMG {
	padding: 10px;
	width: 15%;
	text-align: center;
	float: right;
	display: table;
	border-radius: var(--bordersrad);
	background: var(--paper-background);
}

.CollIMG h4 {
	margin: 0px;
	color: var(--Btext);
}

.CollIMG img {
	width: 100%;
	margin: 0px;
}

/* Collapsible @media queries */

@media screen and (max-width: 900px) {
	.CollBody {
		width: 100%;
	}

	#Teens {
		margin: 30px auto;
		float: none;
		display: block;
		max-width: 70vw;
	}
}

/* Bottom Body */
.Misc {
	margin-top: 80px;
}

.Cite {
	margin-top: 30px;
	border-radius: 20px 20px 0px 0px;
}

/* Mark Styles */

mark {
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 3px;
}

.mtfguide mark {
	background-color: rgb(238, 178, 178);
}

.ftmguide mark {
	background-color: rgb(159, 190, 231);
}